/* Prmiry colors of project */
:root {
  --primary-text-color: #757575;
  --logo-black: #000000;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --btn-hover-color: #188ce8;
  --primary-white-color: #ffffff;
  --gray-bg-color: #2f303a;
  --btn-bg-color: #f5f4fa;
}

/* html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} */

/* Basic inherited properties */
body {
  background-color: var(--primary-white-color);

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.142;
  color: var(--primary-text-color);

  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* HEader styles */
.container.header {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
/* Logo syles */
.logo {
  color: var(--logo-black);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  margin: 24px 93px 25px 0;
}
.accent {
  color: var(--accent-color);
}

/* Main links Navigation */
ul {
  list-style: none;
}

.nav {
  display: flex;
  /* justify-content: space-around; */
}

.nav-list,
.contacts-list {
  letter-spacing: 0.02em;
  font-weight: 500;

  padding: 0;
  margin: 24px 331px 24px 0;
  display: flex;
  /* justify-content: space-between; */
  text-align: center;
}

.contacts-list {
  margin: 24px 0 24px 0;
}
.nav-list {
  min-width: 294px;
  min-height: 16px;
  align-items: center;
}

.nav-links,
.contacts-links {
  color: var(--primary-text-color);
  text-decoration: none;
}

.items:not(:last-child) {
  margin-right: 50px;
}

.nav-links {
  color: var(--title-text-color);
}
.current {
  color: var(--accent-color);
}
/* Hover and focus styles for links*/
/* .logo:hover,
.logo:focus, */
.nav-links:hover,
.nav-links:focus,
.contacts-links:hover,
.contacts-links:focus {
  color: var(--accent-color);
}

/* Сontent centering styles */
.container {
  outline: 1px solid tomato;
  width: 1230px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 94px;
}

/* Hero-section styles*/
.hero-section {
  height: fit-content;
  text-align: center;
  /* BG для видимости белого цвета */
  background-color: var(--gray-bg-color);
}

.hero {
  width: 1230px;
  height: 600px;
  padding-top: 200px;
}

.hero-section-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0;
}
/* Button styles */
.btn {
  font-family: Roboto, sans-serif;
  font-style: normal;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  display: border-box;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  min-width: 200px;
  height: 50px;

  margin-top: 30px;
  text-align: center;
}
.btn:hover {
  background-color: var(--btn-hover-color);
  cursor: pointer;
}

/* Reset standard styles*/
.excellence-list,
.team-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  padding-bottom: 50px;
}

/* Excellence section syles  */
.excellence-title {
  color: var(--title-text-color);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.142;
}

/* Team section styles */
.team-section {
  padding-top: 94px;
}
.name-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
}

/* Footer section styles */
.footer-section {
  height: fit-content;
  /* BG для видимости белого цвета */
  background-color: var(--gray-bg-color);
}

/* modifier class for foter logo color */
.footer {
  color: var(--primary-white-color);
}

.address {
  font-style: normal;
  color: var(--primary-white-color);
  line-height: 1.71;
}
.contacts-links.footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  opacity: 60%;
}

/* Portfolio.html styles */
.portfolio-section {
  width: 1170px;
}

.portfolio-menu {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.63;
  justify-content: center;
}

.portfolio-menu,
.portfolio-content {
  display: flex;
}
.portfolio-content {
  width: 1170px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio-content-items {
  /* width: 370px; */
}

.filter-btn {
  font-family: "Roboto", sans-serif;
  background-color: var(--btn-bg-color);
  color: var(--title-text-color);

  font-size: 16px;
  text-align: center;
  font-weight: 500;
  padding: 6px 22px;
  margin-right: 8px;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 38px;
}
.filter-btn:hover,
.active {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio-links {
  text-decoration: none;
}

.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
